<html lang="en">
<%- include("../partials/head/_head") %> 

<body>
  <%- include("../partials/navbar/_navbar") %> 
  
  <main class="edit">
    <h1 class="uk-heading-line"><span>Edit Profile </span> </h1>
    <section class="uk-grid-divider" uk-grid>


    <div class="uk-grid-item-match uk-width-1-2@m">
      <form action="/profile/<%= profile.username%>?_method=PUT" method="POST">
        <section class="edit_form">
          <div class="uk-margin">
            <label for="username"> Username  </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="username" id="username" value ="<%= profile.username %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="email"> Email  </label>
            <div class="uk-inline">
              <input class="uk-input" type="text"  name="email" id="email" value ="<%= profile.email %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="firstName"> First Name  </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="firstName" id="firstName" value ="<%= profile.firstName %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="lastName"> Last Name  </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="lastName" id="lastName" value ="<%= profile.lastName %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="currentCameraGear"> Current Camera Gear  </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="currentCameraGear" id="currentCameraGear" value ="<%= profile.currentCameraGear %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="igLink"> Instagram URL </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="igLink" id="igLink" value ="<%= profile.igLink %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="fbLink"> Facebook URL </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="fbLink" id="fbLink" value ="<%= profile.fbLink %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label for="personalLink"> Personal Website  </label>
            <div class="uk-inline">
              <input class="uk-input" type="text" name="personalLink" id="personalLink" value ="<%= profile.personalLink %>">
            </div>
          </div>
          <div class="uk-margin">
            <button class="uk-button"> Update Profile <span uk-icon="icon: file-edit"></span> </button>
          </div>

        </section>
      </form>
    </div>
      
      
      
      
      <div class="uk-width-1-2@m" uk-grid>

        <div>
          <img src="<%= profile.profileImage %> " width="200" alt="profile image">
          <form action="/profile/<%= profile.username%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div uk-form-custom="target:true" >
              <input type="file" name="profileImage" >
              <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
            </div>
            <button class="uk-button"> Update Profile Picture <span uk-icon="icon: camera"></span> </button>

          </form>
        </div>

        <div class="profile_meta_info">
          <h3>Hello <%= profile.username %> </h3>
        </div>

        <div>
          <a class="uk-link-muted" href="/profile/<%= profile.username %>"
            ><button class="uk-button">
              Discard Changes <span uk-icon="icon: close"></span>
            </button>
          </a>
        </div>
      </div>
      
      
      
      
      
      
          </section>
  </main>
  <%- include("../partials/footer/_footer") %> 

</body>
</html>