<html lang="en">
<%- include("../partials/head/_head") %> 

<body>
  <%- include("../partials/navbar/_navbar") %> 
  
  <main class="edit">
    <h1 class="uk-heading-line"><span>Edit Profile </span> </h1>
    <section uk-grid>
      
      
      <div class="left_section uk-width-expand@m">
      <form action="/profile/<%= profile.username%>?_method=PUT" method="POST">
        <section class="edit_form">
          <div class="uk-margin">
            <label class="uk-form-label" for="username"> Username  </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text" name="username" id="username" value ="<%= profile.username %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="email"> Email  </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text"  name="email" id="email" value ="<%= profile.email %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="firstName"> First Name  </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text" name="firstName" id="firstName" value ="<%= profile.firstName %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="lastName"> Last Name  </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text" name="lastName" id="lastName" value ="<%= profile.lastName %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="currentCameraGear"> Current Camera Gear  </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text" name="currentCameraGear" id="currentCameraGear" value ="<%= profile.currentCameraGear %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="igLink"> Instagram URL </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text" name="igLink" id="igLink" value ="<%= profile.igLink %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="fbLink"> Facebook URL </label>
            <div class="uk-form-controls-text">
              <input class="uk-input" type="text" name="fbLink" id="fbLink" value ="<%= profile.fbLink %>">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="personalLink"> Personal Website  </label>
            <div class="uk-form-controls-text"">
              <input class="uk-input"type="text" name="personalLink" id="personalLink" value ="<%= profile.personalLink %>">
            </div>
          </div>
          <div class="uk-margin">
            <button class="uk-button"> Update Profile <span uk-icon="icon: file-edit"></span> </button>
          </div>

        </section>
      </form>
    </div>
      
      
      
      
      <div class="right_section uk-width-1-2@m uk-flex-center" uk-grid>

        <div class="form_image uk-width-1-2@m" >
          <img src="<%= profile.profileImage %> " width="200" alt="profile image">
          <form action="/profile/<%= profile.username%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div uk-form-custom="target:true" >
              <input type="file" name="profileImage" >
              <input class="uk-input uk-form-width-medium" type="type" placeholder="Select file" disabled>
            </div>
                <input type="hidden" name="camera" value="<%= profile.id %>">
            <button class="uk-button"> Update Profile Picture <span uk-icon="icon: camera"></span> </button>

          </form>
        </div>

        <div class="profile_meta_info uk-width-2-3@m">
          <h3>Hello <%= profile.username %>! </h3>
          <div>
            <p>Email Address: <%= profile.email %> </p>
            <p>First Name: <%= profile.firstName %> Last Name: <%= profile.lastName %>  </p>
            <p>Current Gear: <%= profile.currentCameraGear %> </p>

            <p>Instagram: <a href="<%= profile.igLink %> " uk-icon="icon: instagram"><%= profile.igLink %></a> </p>
            <p>Facebook: <a href="<%= profile.fbLink %> " uk-icon="icon: facebook"><%= profile.fbLink %></a>  </p>
            <p>Personal: <a href="<%= profile.personalLink %> " uk-icon="icon: world"><%= profile.personalLink %></a> </p>
            
            <a class="uk-link-muted" href="/profile/<%= profile.username %>"
            ><button class="uk-button">
              Back to Profile <span uk-icon="icon: home"></span>
            </button>
          </a>
          </div>
        </div>

      </div>
      
      
      
      
    </section>
  </main>
  <%- include("../partials/footer/_footer") %> 

</body>
</html>