<html lang="en">

<%- include("../partials/head/_head") %> 

<body>
  <%- include("../partials/navbar/_navbar") %> 
  <main class="camera_edit">
    <section class="section_edit">
    
  <h1>Admin's Page</h1>
  <h3 class="uk-heading-divider"> Add a Camera </h3>
  
  <div class="camera_edit_form uk-container">
    <form action="/cameras/<%= camera.id %>?_method=PUT " method="POST">
      <section class="create_form">

        <div class="uk-margin">
          <label class="uk-form-label" for="cameraName"> Camera name  </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="" name="cameraName" id="cameraName" value ="<%= camera.cameraName %> ">
          </div>
        </div>
        
        <div class="uk-margin">
          <label class="uk-form-label" for="brand"> Brand name </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="" name="brandName" id="brand" value="<%= camera.brandName %> ">
          </div>
        </div>
        
        <div class="uk-margin">
          <label class="uk-form-label" for="image"> Camera Image </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder=""" name="cameraImage" id="image" value="<%= camera.cameraImage %> ">
          </div>
        </div>
        
        <div class="uk-margin">
          <label class="uk-form-label" for="year"> Year Released </label>
          <div class="uk-form-controls">
            <input class="uk-input" type="number" placeholder=""" name="yearReleased" id="year" min="1816" max="2022" value=<%= camera.yearReleased %> >
          </div>
        </div>
          
        <div class="uk-margin">
          <label class="uk-form-label" for="lens"> Interchangeable Lens </label>
          <div class="uk-form-controls">
            <select name="interchangeableLens" id="lens" class="uk-select" >
              <option selected disabled value="<%= camera.interchangeableLens %>">
                <%= isChangeable = camera.integerchangeableLens %>
                <% if (camera.interchangeableLens) { %>
                  Yes
                  <% } else { %>
                    No
                    <% } %> 
                  </option>
                  <option value="true"> Yes</option>
                  <option value="false"> No </option>
                </select>
              </div>
            </div>
        
            <div class="uk-margin">
              <label class="uk-form-label" for="format"> Image Format </label>
              <div class="uk-form-controls">
                <select name="imageFormat" id="format" class="uk-select" >
                  <option selected disabled value="<%= camera.imageFormat %> "> <%= camera.imageFormat %> </option>
                  <option value="Large Format"> Large Format </option>
                  <option value="Medium Format"> Medium Format </option>
                  <option value="Full Frame"> Full Frame </option>
                  <option value="35mm"> 35mm </option>
                  <option value="APS-C"> APS-C (Crop Sensor) </option>
                  <option value="Micro Four Thirds"> Micro Four Thirds </option>
                  <option value="Smartphone Camera"> Smartphone Camera </option>
                  <option value="N/A"> N/A </option>
                </select>
              </div>
            </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="category"> Category </label>
          <div class="uk-form-controls">
            <select name="category" id="category" class="uk-select">
              <option selected disabled value="<%= camera.category %> "> <%= camera.category %> </option>
              <% categories.forEach(category => { %>
                 <option value="<%= category.index %>"> <%= category.category %> </option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="type"> Camera / Photography Type</label>
          <div class="uk-form-controls">
            <select name="photographyType" id="type" class="uk-select">
              <option selected disabled value="<%= camera.photographyType %>"> <%= camera.photographyType %> </option>
              <option value="Film"> Film Photography </option>
              <option value="Digital"> Digital Photography</option>
            </select>
          </div>
        </div>
        <div class="uk-margin">

          <button class="uk-button"> Update <span uk-icon="icon: pencil"></span> </button>
        </div>
      </section>
    </form>
    <a class="uk-link-muted" href="/cameras/<%= camera.id %>"
      ><button class="uk-button">
        Cancel <span uk-icon="icon: close"></span>
      </button>
    </a>
  </div>
</section>
  </main>

  <%- include("../partials/footer/_footer") %> 
</body>
</html>