<html lang="en">
  <%- include("../partials/head/_head") %>

  <body>
    <%- include("../partials/navbar/_navbar") %>

    <main class="camera_page uk-container uk-container-expand">
      <section class="camera">
        <div class="uk-container uk-container-large">

          <h1 class="uk-heading uk-heading-line"><span><%= camera.cameraName %></span></h1>
          <div class="uk-child-width-1-2@m" uk-grid>
            <div class="camera_image">
              <img src="<%= camera.cameraImage %> " alt="camera image" />
            </div>
            <div class="camera_info">
              <div class="camera_info_meta">
              <p >Brand Name: <%= camera.brandName %></p>
              <p > Release in year <%= camera.yearReleased %></p>
              <% if (camera.interchangeableLens) { %>
                <p > Interchangeable Lens: Yes.</p>
                <% } else {%>
                  <p > Interchangeable Lens: No.</p>
                  <% } %>
                  
                  <p> Image Sensor Format: <%= camera.imageFormat %>.</p>
                  <p> Category: <%= camera.category %>.</p>
                  <p><%= camera.photographyType %> Camera </p>
              </div>
              </div>

              
              
              <div class="camera_button">
                <div class="uk-flex uk-flex-left uk-flex-around">
                  <% if (isAdmin) { %>
                    <div>
                      <a class="uk-link-muted" href="/cameras/<%= camera.id %>/edit "
                        ><button class="uk-button">
                          Edit <span uk-icon="icon: file-edit"></span>
                        </button>
                      </a>
                    </div>
                    <div>
                      <form action="/cameras/<%= camera.id %>?_method=DELETE" method="POST"
                        ><button class="uk-button uk-button-danger">
                          Delete <span uk-icon="icon: trash"></span>
                        </button>
                      </form>
                    </div>
                    <% } %>
                  </div>
                </div>
          </div>
        </div>
      </section>

      <div class="comment_form">

        <form action="/cameras/comment/<%= camera.id %>" method="POST" enctype="multipart/form-data">
          <div class="uk-flex uk-flex-center uk-flex-column">
            <textarea
            class="uk-textarea"
            rows="5"
            placeholder="Comment here!"
            name="content"
            ></textarea>
            <input
            class="uk-input"
            type="file"
            placeholder=""
            name="commentImages"
            />
            
            <input type="hidden" name="camera" value="<%= camera.id %>">
            <button class="uk-button">Submit</button>
          </div>
        </form>
      </div>
        
      
      <div class="bottom" uk-margin uk-grid>
        <div class="uk-width-1-2">
          <h3 class="uk-heading uk-heading-line" ><span>Unsplash Sample Images</span></h3>
        </div>

        <div class="uk-width-expand@m">
          <h3 class="uk-heading uk-heading-line"><span>Comments</span></h3>
      <% comments.forEach(comment => { %>
          <article class="comment uk-comment">
            <header class="uk-comment-header">
              <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <a href="/profile/<%= comment.user.username %> ">
                    <img class="uk-comment-avatar" src="<%= comment.user.profileImage %> " alt="profile image" width="80" height="80">
                  </a>
                </div>
                <div class="uk-width-expand">
                  <p class="uk-comment-title uk-margin-remove"> <a class="uk-link-reset" href="/profile/<%= comment.user.username %> "><%= comment.user.username %></a></p>
                  <ul class="uk-comment-meta uk-subnav uk-subnav-divder uk-margin-remove-top">
                    <li> <%= new Date(comment.createdAt).toLocaleString() %> </li>
                  </ul>
                </div>

                <% if (user.username == comment.user.username) { %>
                <div class="comment_button uk-width-1-6">
                    <div>
                      <a class="uk-link-muted" href="#modal-edit-<%= comment.id %>" uk-toggle>
                        <button class="uk-button uk-button-link">
                          <span uk-icon="icon: file-edit"></span>
                        </button>
                      </a>
                    </div>
                    <div>
                      <form action="/cameras/comment/<%= comment.id %>?_method=DELETE" method="POST"> 
                          <input type="hidden" value="<%= comment.id %>">
                          <a class="uk-link-muted"><button type="submit" class="uk-button uk-button-link" > <span uk-icon="icon: trash"></span></button></a>
                      </form>
                    </div>
                  </div>
                <% } %>
              </div>
            </header>
            <div class="uk-comment-body" uk-grid>
              <div class="content uk-width-expand@m" uk-margin>
                <h4> <%= comment.content %></h4>
              </div>
              <% if (comment.commentImages) { %>
                <div class="uk-width-1-4@m">
                  <div class="uk-thumbnav" uk-margin>
                    <div uk-lightbox>
                      <a href="<%= comment.commentImages %>" data-type="image" data-caption="Posted by <%= comment.user.username %>">
                        <img src="<%= comment.commentImages %>" width="100" alt="comment image">
                      </a>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
              
            </article>

            <!-- Edit Comment Modal -->
            <div class="uk-flex-top" id="modal-edit-<%= comment.id %>" uk-modal>
              <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <form action="/cameras/comment/<%= comment.id %>/edit?_method=PUT" method="POST">
                  <input type="hidden" value="<%= comment.id %>">
                  <div class="uk-flex uk-flex-center uk-flex-column">
                    <textarea
                    class="uk-textarea"
                    rows="5"
                    name="content"
                    ><%= comment.content %></textarea>
                    <input
                    class="uk-input"
                    type="text"
                    name="commentImages"
                    value="<%= comment.commentImages %>"
                    />
                    <button type="submit" class="uk-button">Submit</button>
                  </div>
                </form>
              </div>
            </div>

              <% }); %> 
          </div> 
        </div>
    </main>

    

    
    <%- include("../partials/footer/_footer") %>
  </body>
</html>
